<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>devHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body class="bg-grey-light font-sans">
    <section class="h-screen w-screen bg-gray-200 flex flex-col-reverse sm:flex-row min-h-0 min-w-0 overflow-hidden">
      <main class="sm:h-full flex-1 flex flex-col min-h-0 min-w-0 overflow-auto">
        <div id="menu" class="container mx-auto px-4 lg:pt-24 lg:pb-34">

          <%- include('../../_ejs_partials/header.ejs') %>

          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-black">Users</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                Here is a list of users that match your search query:
              </p>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="flex-c">
              <% userList.forEach(function(this_user) { %>
              <div class="found_user flex mb-5">
                <div class="col-span-2 sm:col-span-1 xl:col-span-1">
                  <img
                    alt="..."
                    src="https://sewausa.org/resources/Sewa%20USA%20Images/Projects/Sewa%20Aspire/Volunteer%20list/9.png"
                    class="h-24 w-24 rounded mx-auto"
                  />
                </div>
                <div class="col-span-2 sm:col-span-4 xl:col-span-4">
                  <p><%= this_user.username %></p>
                </div>
                <div class="col-span-2 sm:col-span-1 xl:col-span-1 italic">
                  <% if (this_user.username == user.username) { %>
                    <p>&nbsp; (yourself)</p>
                    <% } 

                     else if (user.following.includes(this_user.username)) { %>

                    <form action="/interact/follow" method="post">
                      <input hidden type="text" name="unfollow_user" value="<%= this_user.username %>"
                      />

                      <button
                        class="text-pink-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1"
                        style="transition: all 0.15s ease"
                        type="submit"
                      >
                        <i class="fa fa-heart-o mr-2"></i> Unfollow
                      </button>
                    </form>
                    <% } else { %>

                    <form action="/interact/follow" method="post">
                      <input hidden type="text" name="follow_user" value="<%= this_user.username %>"
                      />

                      <button
                        class="text-pink-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1"
                        style="transition: all 0.15s ease"
                        type="submit"
                      >
                        <i class="fa fa-heart mr-2"></i> Follow
                      </button>
                    </form>
                    <% } %>
                  </button>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>

        <div id="menu" class="container mx-auto px-4 lg:pt-24 lg:pb-34">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-black">Posts</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                Here is a list of posts that match your search query:
              </p>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="flex-c">
              <% postList.forEach(post => { %>
                <div class="flex bg-gray-100 mb-4 rounded-lg">
                  <div class="w-1/8 text-right pl-3 pt-3">
                    <div>
                      <a href="#"
                        ><img
                          src="https://user-images.githubusercontent.com/76543451/103982284-0a6f0b00-5138-11eb-872b-0b9e70fc5c25.gif"
                          alt="avatar"
                          class="rounded-full h-12 w-12 mr-2"
                      /></a>
                    </div>
                  </div>
        
                  <div class="w-7/8 p-3 pl-0">
                    <!-- <div class="text-xs text-grey-dark">Reposted</div> -->
                    <div class="flex justify-between">
                      <div>
                        <span class="font-bold"
                          ><a href="#" class="text-black"
                            ><%= post.username %></a
                          ></span
                        >
                        <!-- <span class="text-grey-dark"></span> -->
                        <span class="text-grey-dark"><%= post.createdAt %></span>
                        <span class="inline-block">
                          <form action="/delete" method="post">
                            <input type="hidden" value="<%= post.postId %>" name="postToDelete" />
                            <button type="submit"><i class="transition duration-500 ease-in-out hover:bg-gray-300 transform p-5 rounded-full fa fa-trash"></i></button>
                          </form>
                          
                        </span>
                      </div>
        
                    </div>
                    <div>
                      <div class="mb-4">
                        <p class="mb-6"><%= post.message %></p>
                      </div>
                      <div class="pb-2 flex">
                <span class="mr-8"
                  ><a
                    href="/posts/<%= post.username %>/<%= post.id %>"
                    class="text-grey-dark hover:no-underline hover:text-blue-light"
                    ><i class="fa fa-comment fa-lg mr-2"></i> <%=
                    post.commentList.length %></a
                  ></span
                >
                  <span class="mr-8">
                    <!-- <form action="/interact/repost" method="post"> -->
                    <form id="<%= post.id %>" class="oop_repost_form">

                      <input hidden class="oop_post_username" type="text" name="username" value="<%= post.username %>"
                      />
                      <input hidden class="oop_post_id"  type="text" name="post_id" value="<%= post.id %>"
                      />

                      <button
                        class="oop_repost_btn text-pink-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1"
                        style="transition: all 0.15s ease"
                        type="submit"
                      >
                      <i class="fa fa-retweet fa-lg mr-2"></i> <%=
                      post.reposts %>
                      </button> 
                    </form>
                  </span>
                  <form action="/interact/like" method="post">
                    <span class="mr-8"
                  >
                  <input type="hidden" value="<%= post.username %>" name="poster_username" />
                  <input type="hidden" value="<%= post.id %>" name="post_id" />
                  <button
                    type="submit"
                    class="text-grey-dark hover:no-underline hover:text-red"
                    >
                    <% if (post.likes.includes(user.username)) { %>
                    <i class="fa fa-heart fa-lg mr-2"></i>
                    <% } else { %>
                      <i class="fa fa-heart-o fa-lg mr-2"></i>
                    <% } %>
                    <%= post.likes.length
                    %></button
                  ></span>
                
                </form>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
      </main>
    </section>
    <script src="/js/fetch.js"></script>
  </body>
</html>
